@page
@using STCA_ServiceLayer
@model STCA_App.Pages.TiposAreasAccesoModel
<h1>Tipos de Areas de Acceso</h1>


@{
    foreach (TipoAreaAccesoDTO item in this.Model.ListTiposAreasAcceso)
    {
        <h3>@item.Nombre;</h3><br>
    }

}



